<%= turbo_frame_tag 'joke-div' do %>
  <h2>Check out this neat joke:</h2>
  <p>
    <%= @chuck_joke.content %>
  </p>
  <button type="button" class="btn btn-primary">
    <%= link_to 'Get a new joke', welcome_show_path, class: 'text-decoration-none text-light' %>
  </button>
<% end %>