<h2 class="my-4" style="color: #FA690D;">My Jokes</h2>a
<%= turbo_frame_tag 'joke-div' do %>
  <% if @jokes.empty? %>
    <p class="text-light">You haven't added any jokes yet.</p>
  <% else %>
    <% @jokes.each do |joke| %>
      <div class="card" style="background-color: #DE7C0B;">
        <div class="card-header fs-4" style="background-color: #C46D0A;">
          <%= joke.content %>
        </div>
        <div class="card-body">
          <blockquote class="blockquote my-2">
            <p><%= joke.content %></p>
            <footer class="blockquote-footer text-dark text-end">Curious and real fact about <cite title="Source Title">Chuck Norris</cite></footer>
          </blockquote>
        </div>
        <div class="d-flex justify-content-end">                    
          <%= link_to 'Delete', root_path, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>